/* Empty. Add your own CSS if you like */

.float-button {
    background-color: red;
    opacity: 0.9;
    color: white;
    border-radius: 50%;
    /*border-radius:15% 0 0 0;*/
    width: 30px;
    padding: 21px;
    font-size: 40px;
    position: fixed;
    bottom: 6.5%;
    /* Adjust height */
    right: 3%;
    /* Adjust position */
    z-index: 1000;
}

.float-button .height_fix {
    margin-top: 100%;
    border: 1px solid red;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    color: white;
}
